<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <h1>Acerca de</h1>
      <p>Soy un entusiasta de la tecnología y el desarrollo de software, manteniéndome al día con las últimas tendencias
        y avances. Me apasiona trabajar en proyectos innovadores que requieren habilidades técnicas y creativas para
        encontrar soluciones efectivas y escalables. A lo largo de mi carrera, he adquirido experiencia en el desarrollo
        de aplicaciones web y móviles, mejorando mi capacidad de análisis y diseño a través de proyectos con HTML, CSS,
        JavaScript, Ruby y React Js, entre otros lenguajes. Continuamente expando mi perfil como desarrollador
        Full-Stack, explorando tecnologías como Angular, MySQL, Java y Spring Boot. Disfruto colaborar en equipo,
        compartiendo conocimientos y generando ideas para optimizar la calidad y la eficiencia en el desarrollo de
        aplicaciones. Siempre estoy en busca de nuevos desafíos y oportunidades para seguir creciendo profesionalmente.
      </p>
    </div>
    <div class="carousel-item">

      <h1>Educacion</h1>
      <p>Mi formación académica ha sido un pilar fundamental en mi desarrollo como profesional de la tecnología. A lo
        largo de mi trayectoria, he buscado constantemente oportunidades para adquirir nuevos conocimientos y
        habilidades que me permitan estar a la vanguardia en el campo de la informática.
        En el programa de Desarrollo Full Stack Argentina, he tenido la oportunidad de ampliar mi perfil como
        desarrollador, sumando habilidades en Angular, MySQL, Java y Spring Boot. Este programa, dirigido por el
        Ministerio de Desarrollo Productivo, INTI y Argentina Programa, me ha brindado una base sólida en la creación de
        aplicaciones web y móviles, así como en el diseño y análisis de proyectos.</p>
    </div>
    <div class="carousel-item">

      <h1>Experiencia</h1>
      <p>En mi rol como Full Stack Developer en ID For Ideas, he tenido la oportunidad de aplicar mis conocimientos y
        habilidades en el desarrollo de aplicaciones web y móviles. A través del uso de tecnologías como CSS, Bootstrap
        y JavaScript, he llevado a cabo la maquetación y optimización de SEO on page, asegurando una experiencia de
        usuario fluida y amigable.

        Además, he trabajado en la programación con Java 8 utilizando Spring Boot y Maven, lo que me ha permitido crear
        aplicaciones robustas y eficientes. Mi experiencia en el acceso a bases de datos ha sido fundamental para el
        diseño, desarrollo e implementación de interfaces de BBDD, garantizando la integridad y disponibilidad de los
        datos.</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>