
<div class="toolbar">
    <ul class="nav-item">
        <h3>Proyectos</h3>
        <a class="nav-link" href="https://lucent-kitten-8d43cd.netlify.app">Cuentas App</a>
    </ul>
    <ul class="nav-item">
        <a class="nav-link" href="https://keen-wiles-9532a6.netlify.app/" data-bs-slide-to="1">Travel Card</a>
    </ul>
    <ul class="nav-item">
        <a class="nav-link" href="https://lucent-capybara-95cf49.netlify.app/" data-bs-slide-to="2">Movies App</a>
    </ul>
    <ul class="nav-item">
        <a class="nav-link" href="https://gleeful-rabanadas-0ee31c.netlify.app/" data-bs-slide-to="1">bootstrap Layout</a>
    </ul>
    <ul class="nav-item">
        <a class="nav-link" href="https://modest-goldwasser-11baa0.netlify.app/" data-bs-slide-to="2">Animation Loaders</a>
    </ul>
    </div>